{% extends 'index.html' %}


{% block content %}


<div id="calendar"></div>


<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'AddBtn'
            },
            customButtons: {
                AddBtn: {
                    text:'+Tarefa',
                    click: function () {
                        window.location.href = "{% url 'adicionar_tarefa' %}";
                    }
                },
            },
            locale: 'pt-br',
            showNonCurrentDates: false,
            events: function (info, successCallback, failureCallback) {
                fetch('/api-tarefa-fazer-eventos/')
                    .then(res => res.json())
                    .then(data => {
                        if (data.success) {
                            successCallback(data.events)
                        } else {
                            failureCallback()
                        }
                    })
                    .catch(failureCallback)
            },
            editable: true,
            selectable: true,
            selectMirror: true,
            dayMaxEvents: false,
            select: function (info) {
                var date = info.startStr;
                window.location.href = "{% url 'tarefa_especifica' '0000-00-00' %}".replace('0000-00-00', encodeURIComponent(date));
                calendar.unselect();
            },
            eventClick: function (info) {
                // não usado aqui
            }
        });

        calendar.render();
    });
</script>

{% endblock %}